asgiref
charset-normalizer
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
et_xmlfile
gunicorn
numpy
openpyxl
packaging
pandas
pillow
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
six
sqlparse
tzdata
whitenoise
reportlab
